Repository simonheimlicher/spx-claude: changes, and which lefthook commands are due for each by the changed paths.
All: fix-xml-spacing, validate-marketplace, validate-plugins, dprint

fix-xml-spacing:
  run: python3 scripts/fix-xml-spacing.py {staged_files}
  stage_fixed: true
  priority: 0

validate-marketplace:
  run: claude plugin validate .
  priority: 10

validate-plugins:
  run: find plugins -maxdepth 1 -type d -mindepth 1 -exec claude plugin validate {} \;
  priority: 20

dprint:
  run: dprint fmt {staged_files}
  stage_fixed: true
  priority: 100

fix(python): migrate from deprecated spx status to spx spec commands
  CLAUDE.md
  README.md
  plugins/python/.claude-plugin/plugin.json
  plugins/python/commands/autopython.md
  plugins/python/skills/architecting-python/SKILL.md
  plugins/python/skills/coding-python/SKILL.md
  plugins/python/skills/reviewing-python/SKILL.md
Due: fix-xml-spacing, validate-marketplace, validate-plugins, dprint

feat(python): add auto-python orchestrator skill following typescript pattern
  CLAUDE.md
  plugins/python/.claude-plugin/plugin.json
  plugins/python/commands/autopython.md
  plugins/python/skills/auto-python/SKILL.md
Due: fix-xml-spacing, validate-marketplace, validate-plugins, dprint

refactor(plugins): rename orchestrator skills to gerund form
  CLAUDE.md
  plugins/python/.claude-plugin/plugin.json
  plugins/python/commands/auto-python.md
  plugins/python/commands/autopython.md
  plugins/python/skills/orchestrating-python/SKILL.md
  plugins/typescript/.claude-plugin/plugin.json
  plugins/typescript/commands/auto-typescript.md
  plugins/typescript/skills/orchestrating-typescript/SKILL.md
Due: fix-xml-spacing, validate-marketplace, validate-plugins, dprint

docs: add MIT license
  LICENSE
Due: none

refactor(core): migrate to spx session CLI and pure XML skill
  plugins/core/.claude-plugin/plugin.json
  plugins/core/commands/commit.md
  plugins/core/commands/handoff.md
  plugins/core/commands/pickup.md
  plugins/core/skills/committing-changes/SKILL.md
Due: fix-xml-spacing, validate-marketplace, validate-plugins, dprint

docs: add philosophy section and credit TÂCHES inspiration
  README.md
Due: fix-xml-spacing, dprint

fix(core): add error handling for git commands in handoff/pickup
  plugins/core/.claude-plugin/plugin.json
  plugins/core/commands/handoff.md
  plugins/core/commands/pickup.md
Due: fix-xml-spacing, validate-marketplace, validate-plugins, dprint

refactor(specs): make PRD/TRD optional, remove strict mode
  plugins/specs/.claude-plugin/plugin.json
  plugins/specs/skills/managing-specs/SKILL.md
  plugins/specs/skills/understanding-specs/SKILL.md
  plugins/specs/skills/understanding-specs/references/abort-protocol.md
  plugins/specs/skills/understanding-specs/references/document-types.md
  plugins/specs/skills/understanding-specs/workflows/ingest-context.md
Due: fix-xml-spacing, validate-marketplace, validate-plugins, dprint

docs(core): add description guidelines for commit messages
  plugins/core/.claude-plugin/plugin.json
  plugins/core/skills/committing-changes/SKILL.md
Due: fix-xml-spacing, validate-marketplace, validate-plugins, dprint

docs(specs): improve managing-specs skill discoverability
  CLAUDE.md
  plugins/specs/.claude-plugin/plugin.json
  plugins/specs/skills/managing-specs/SKILL.md
Due: fix-xml-spacing, validate-marketplace, validate-plugins, dprint

feat(python,typescript): add orchestration subagents
  plugins/python/.claude-plugin/plugin.json
  plugins/python/agents/orchestrating-python.md
  plugins/typescript/.claude-plugin/plugin.json
  plugins/typescript/agents/orchestrating-typescript.md
Due: fix-xml-spacing, validate-marketplace, validate-plugins, dprint

refactor(python,typescript): launch subagent per story in auto commands
  plugins/python/.claude-plugin/plugin.json
  plugins/python/commands/auto-python.md
  plugins/typescript/.claude-plugin/plugin.json
  plugins/typescript/commands/auto-typescript.md
Due: fix-xml-spacing, validate-marketplace, validate-plugins, dprint

docs(python,typescript): clarify graduation protocol for DONE.md location
  plugins/python/skills/reviewing-python/SKILL.md
  plugins/typescript/skills/reviewing-typescript/workflows/graduation-protocol.md
Due: fix-xml-spacing, dprint

feat(test): rewrite testing skill with evidence-based philosophy
  methodology/testing/testing-foundation.md
  plugins/python/.claude-plugin/plugin.json
  plugins/python/skills/testing-python/SKILL.md
  plugins/test/.claude-plugin/plugin.json
  plugins/test/skills/testing/SKILL.md
  plugins/typescript/.claude-plugin/plugin.json
  plugins/typescript/skills/testing-typescript/SKILL.md
Due: fix-xml-spacing, validate-marketplace, validate-plugins, dprint

refactor(specs,python,typescript): use spx CLI for spec status
  plugins/core/.claude-plugin/plugin.json
  plugins/core/commands/handoff.md
  plugins/core/skills/committing-changes/SKILL.md
  plugins/python/commands/auto-python.md
  plugins/python/skills/orchestrating-python/SKILL.md
  plugins/specs/skills/managing-specs/SKILL.md
  plugins/specs/skills/understanding-specs/references/document-types.md
  plugins/specs/skills/understanding-specs/workflows/ingest-context.md
  plugins/typescript/commands/auto-typescript.md
  plugins/typescript/skills/orchestrating-typescript/SKILL.md
  specs/CLAUDE.md
Due: fix-xml-spacing, validate-marketplace, validate-plugins, dprint

refactor(python): simplify commit phase in reviewing skill
  plugins/python/.claude-plugin/plugin.json
  plugins/python/skills/reviewing-python/SKILL.md
Due: fix-xml-spacing, validate-marketplace, validate-plugins, dprint

docs(specs): enforce full BSP paths in understanding-specs
  plugins/specs/.claude-plugin/plugin.json
  plugins/specs/skills/understanding-specs/SKILL.md
Due: fix-xml-spacing, validate-marketplace, validate-plugins, dprint

feat(typescript): add codebase discovery and convention matching
  plugins/typescript/.claude-plugin/plugin.json
  plugins/typescript/skills/coding-typescript/SKILL.md
  plugins/typescript/skills/coding-typescript/workflows/implementation.md
  plugins/typescript/skills/reviewing-typescript/references/manual-review-checklist.md
  plugins/typescript/skills/reviewing-typescript/workflows/commit-protocol.md
Due: fix-xml-spacing, validate-marketplace, validate-plugins, dprint

docs(specs): clarify skill invocation rules
  specs/CLAUDE.md
Due: fix-xml-spacing, dprint

docs(specs): improve skill descriptions and BSP examples
  plugins/specs/skills/managing-specs/SKILL.md
  plugins/specs/skills/understanding-specs/SKILL.md
Due: fix-xml-spacing, dprint

refactor(python,typescript): enforce subagent spawning in auto commands
  plugins/python/.claude-plugin/plugin.json
  plugins/python/commands/auto-python.md
  plugins/typescript/.claude-plugin/plugin.json
  plugins/typescript/commands/auto-typescript.md
Due: fix-xml-spacing, validate-marketplace, validate-plugins, dprint

refactor(python,typescript): move test infrastructure to tests/harness
  plugins/python/.claude-plugin/plugin.json
  plugins/python/skills/testing-python/SKILL.md
  plugins/typescript/.claude-plugin/plugin.json
  plugins/typescript/skills/testing-typescript/SKILL.md
Due: fix-xml-spacing, validate-marketplace, validate-plugins, dprint

refactor(specs): adopt CODE model with spx/ durable map
  CLAUDE.md
  README.md
  specs/CLAUDE.md
  specs/work/doing/capability-10_specs-ingestion/context-verification.prd.md
  specs/work/doing/capability-10_specs-ingestion/feature-10_context-verification/context-verification.feature.md
  specs/work/doing/capability-10_specs-ingestion/feature-10_context-verification/hierarchical-loading.trd.md
  specs/work/doing/capability-10_specs-ingestion/specs-ingestion.capability.md
  specs/work/doing/capability-15_refactoring/feature-15_general-refactoring/story-15_skill-base-directory/skill-base-directory.story.md
  spx/CLAUDE.md
  spx/adr-21_skill-base-directory.md
  spx/adr-24_orchestrator-pattern.md
  spx/capability-10_specs-ingestion/feature-10_context-verification/context-verification.feature.md
  spx/capability-10_specs-ingestion/feature-10_context-verification/status.yaml
  spx/capability-10_specs-ingestion/feature-10_context-verification/story-10_python-integration/python-integration.story.md
  spx/capability-10_specs-ingestion/feature-10_context-verification/story-10_python-integration/status.yaml
  spx/capability-10_specs-ingestion/specs-ingestion.capability.md
  spx/capability-10_specs-ingestion/status.yaml
  spx/capability-15_refactoring/feature-15_general-refactoring/general-refactoring.feature.md
  spx/capability-15_refactoring/feature-15_general-refactoring/status.yaml
  spx/capability-15_refactoring/feature-15_general-refactoring/story-15_skill-base-directory/skill-base-directory.story.md
  spx/capability-15_refactoring/feature-15_general-refactoring/story-15_skill-base-directory/status.yaml
  spx/capability-15_refactoring/feature-15_general-refactoring/story-18_auto-typescript-orchestrator/auto-typescript-orchestrator.story.md
  spx/capability-15_refactoring/feature-15_general-refactoring/story-18_auto-typescript-orchestrator/status.yaml
  spx/capability-15_refactoring/refactoring.capability.md
  spx/capability-15_refactoring/status.yaml
  spx/capability-20_durable-specs/durable-specs.capability.md
  spx/capability-20_durable-specs/feature-20_specs-plugin/specs-plugin.feature.md
  spx/capability-20_durable-specs/feature-20_specs-plugin/status.yaml
  spx/capability-20_durable-specs/feature-21_python-plugin/python-plugin.feature.md
  spx/capability-20_durable-specs/feature-21_python-plugin/status.yaml
  spx/capability-20_durable-specs/feature-22_typescript-plugin/status.yaml
  spx/capability-20_durable-specs/feature-22_typescript-plugin/typescript-plugin.feature.md
  spx/capability-20_durable-specs/feature-23_test-plugin/status.yaml
  spx/capability-20_durable-specs/feature-23_test-plugin/test-plugin.feature.md
  spx/capability-20_durable-specs/feature-24_core-plugin/core-plugin.feature.md
  spx/capability-20_durable-specs/feature-24_core-plugin/status.yaml
  spx/capability-20_durable-specs/status.yaml
  spx/spx-claude.prd.md
Due: fix-xml-spacing, dprint

docs(methodology): add product tree perspective with BSP and momentum
  methodology/perspective/product-tree.md
Due: fix-xml-spacing, dprint

docs(methodology): adopt recursive decimal BSP naming convention
  methodology/perspective/product-tree.md
  methodology/structure/code-framework.md
  methodology/structure/recursive-decimal-bsp-strategy.md
Due: fix-xml-spacing, dprint

refactor(spx): adopt recursive decimal BSP naming in managing-specs
  plugins/spx/.claude-plugin/plugin.json
  plugins/spx/skills/managing-specs/SKILL.md
Due: fix-xml-spacing, validate-marketplace, validate-plugins, dprint

refactor(spx): unify spec templates with Outcomes pattern and state derivation
  methodology/perspective/product-tree.md
  methodology/structure/code-framework.md
  plugins/spx/skills/managing-specs/templates/outcomes/capability-name.capability.md
  plugins/spx/skills/managing-specs/templates/outcomes/feature-name.feature.md
  plugins/spx/skills/managing-specs/templates/outcomes/story-name.story.md
Due: fix-xml-spacing, dprint

refactor(spx): update all skills to CODE framework naming convention
  plugins/spx/.claude-plugin/plugin.json
  plugins/spx/agents/transforming-capability.md
  plugins/spx/skills/managing-specs/SKILL.md
  plugins/spx/skills/managing-specs/templates/product/product.prd.md
  plugins/spx/skills/understanding-specs/SKILL.md
  plugins/spx/skills/understanding-specs/references/abort-protocol.md
  plugins/spx/skills/understanding-specs/references/document-types.md
  plugins/spx/skills/understanding-specs/workflows/ingest-context.md
  plugins/spx/skills/writing-prd/SKILL.md
  plugins/spx/skills/writing-prd/references/prd-template-guide.md
Due: fix-xml-spacing, validate-marketplace, validate-plugins, dprint

docs: standardize testing terminology to 'three-level'
  CLAUDE.md
  README.md
  plugins/python/.claude-plugin/plugin.json
  plugins/python/skills/testing-python/SKILL.md
  plugins/spx/.claude-plugin/plugin.json
  plugins/spx/agents/transforming-capability.md
  plugins/spx/skills/managing-specs/templates/product/product.prd.md
  plugins/spx/skills/writing-prd/SKILL.md
  plugins/typescript/.claude-plugin/plugin.json
  plugins/typescript/skills/testing-typescript/SKILL.md
  spx/spx-claude.prd.md
Due: fix-xml-spacing, validate-marketplace, validate-plugins, dprint

feat(spx): add fallback test discovery and shared test handling
  plugins/spx/.claude-plugin/plugin.json
Due: validate-marketplace, validate-plugins, dprint

fix(spx): clean up transforming-capability agent formatting
  plugins/spx/.claude-plugin/plugin.json
  plugins/spx/agents/migrate-to-code-framework.md
Due: fix-xml-spacing, validate-marketplace, validate-plugins, dprint

refactor(plugins): update python/typescript/test plugins to CODE framework
  plugins/python/.claude-plugin/plugin.json
  plugins/python/skills/architecting-python/SKILL.md
  plugins/python/skills/architecting-python/references/type-system-patterns.md
  plugins/python/skills/orchestrating-python/SKILL.md
  plugins/python/skills/reviewing-python/SKILL.md
  plugins/test/.claude-plugin/plugin.json
  plugins/test/skills/testing/SKILL.md
  plugins/typescript/.claude-plugin/plugin.json
  plugins/typescript/skills/architecting-typescript/SKILL.md
  plugins/typescript/skills/coding-typescript/SKILL.md
  plugins/typescript/skills/orchestrating-typescript/SKILL.md
  plugins/typescript/skills/reviewing-typescript/references/manual-review-checklist.md
Due: fix-xml-spacing, validate-marketplace, validate-plugins, dprint

fix(spx): prevent test level corruption in migration agent
  plugins/spx/.claude-plugin/plugin.json
  plugins/spx/agents/migrate-to-code-framework.md
Due: fix-xml-spacing, validate-marketplace, validate-plugins, dprint

refactor(plugins): complete CODE framework updates across all plugins
  plugins/code/.claude-plugin/plugin.json
  plugins/code/skills/coding-autonomously/SKILL.md
  plugins/core/.claude-plugin/plugin.json
  plugins/core/skills/committing-changes/SKILL.md
  plugins/python/.claude-plugin/plugin.json
  plugins/python/skills/architecting-python/references/architecture-patterns.md
  plugins/python/skills/coding-python/SKILL.md
  plugins/python/skills/reviewing-python/SKILL.md
  plugins/python/skills/reviewing-python/rules/ruff_quality.toml
  plugins/spx/.claude-plugin/plugin.json
  plugins/spx/skills/managing-specs/SKILL.md
  plugins/spx/skills/writing-prd/workflows/write-prd.md
  plugins/typescript/.claude-plugin/plugin.json
  plugins/typescript/skills/coding-typescript/SKILL.md
  plugins/typescript/skills/reviewing-typescript/SKILL.md
  plugins/typescript/skills/reviewing-typescript/workflows/commit-protocol.md
  plugins/typescript/skills/reviewing-typescript/workflows/graduation-protocol.md
  plugins/typescript/skills/reviewing-typescript/workflows/review-protocol.md
  plugins/typescript/skills/reviewing-typescript/workflows/verification-protocol.md
  plugins/typescript/skills/testing-typescript/SKILL.md
Due: fix-xml-spacing, validate-marketplace, validate-plugins, dprint

refactor(specs): remove test graduation, align with CODE framework
  plugins/specs/.claude-plugin/plugin.json
  plugins/specs/skills/managing-specs/SKILL.md
  plugins/specs/skills/managing-specs/structure.yaml
  plugins/specs/skills/managing-specs/templates/work-items/DONE.md
  plugins/specs/skills/managing-specs/templates/work-items/capability-name.capability.md
  plugins/specs/skills/managing-specs/templates/work-items/feature-name.feature.md
  plugins/specs/skills/managing-specs/templates/work-items/story-name.story.md
  plugins/specs/skills/understanding-specs/references/document-types.md
  plugins/specs/skills/understanding-specs/workflows/ingest-context.md
Due: fix-xml-spacing, validate-marketplace, validate-plugins, dprint

chore(spx): remove unimplemented structure.yaml reference
  plugins/spx/.claude-plugin/plugin.json
  plugins/spx/skills/managing-spx/SKILL.md
Due: fix-xml-spacing, validate-marketplace, validate-plugins, dprint

refactor(plugins): add constants/DI requirements to coding skills, align specs templates with SPX
  plugins/python/.claude-plugin/plugin.json
  plugins/python/skills/coding-python/SKILL.md
  plugins/specs/.claude-plugin/plugin.json
  plugins/specs/skills/managing-specs/templates/work-items/capability-name.capability.md
  plugins/specs/skills/managing-specs/templates/work-items/feature-name.feature.md
  plugins/specs/skills/managing-specs/templates/work-items/story-name.story.md
  plugins/typescript/.claude-plugin/plugin.json
  plugins/typescript/skills/coding-typescript/SKILL.md
Due: fix-xml-spacing, validate-marketplace, validate-plugins, dprint

Path conditions:
  fix-xml-spacing: any of: *.md
  validate-marketplace: any of: *.json
  validate-plugins: any of: *.json
  dprint: any of: *.{md,python,ts,js,json,jsonc}
